body{
  text-align: center;
  margin: 0;
  position: absolute;
  width: 100%;
}
.span4{
  background: #0086C3;
  color: #fff;
}
h2 {
  padding: 1em 0;
}
h1{
  padding-top: .5em;
  font-size: 40px;
  margin: 0;
}
#bubble {
  margin-bottom: 75px;
  margin-top: 1em;
}
p {
  margin: 1em;
}
